.content .calculation .coordinates {
    padding: 20px;
}
.content .calculation .caption {
    font-size: 20px;
}
.img {
    display: block;
    position: absolute;
    top: 10px;
    left: 550px;
}
#curve_chart1,
#curve_chart2,
#curve_chart3 {
    width: 700px;
    height: 250px;
    padding-bottom: 20px;
}
.show-hide {
    color: #a56375;
    text-decoration: underline;
    cursor: pointer;
}
.show-hide:hover {
    color: #83b3c9;
}