{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
    <div class="tab-name"><img src="{% static 'images/nut.png' %}"><span>Онлайн калькулятор узлов</span></div>
    <div class="middle">
        <div class="description">
            <p class="caption">Расчет болтового соединения через фасонку</p>
            <p class="text">Данная программа предназначена для расчета количества болтов необходимого для надежного
                болтового соединения и проверяет несущую способность данного узла для соответствующего расположения
                болтов.</p>
            <img src="{% static 'calc_img/bolts_number/twoimg.png' %}" class="image">
            <img src="{% static 'calc_img/bolts_number/twoimg_2.png' %}" class="image">
        </div>
        <div class="calculation">
            <form method="post" action="">
                <p><span>Выберите единицы измерения для усилия: </span><input name="radio" type="radio" value="1"
                                                                              id="radio_style" class="radio">Кн
                    <input name="radio" type="radio" value="0" id="radio_style" class="radio" checked>Кгс</p>
                <p><span>Введите усилие которое действует на соединение: </span><input name="force" id="text_box"
                                                                                       type="text"
                                                                                       value="{{ value_force }}"
                                                                                       class="text-box"
                                                                                       onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">
                </p>
                <p><span>Введите сумму примыкающих плоскостей: </span><input name="nmin" id="text_box" class="text-box"
                                                                             type="text" value="{{ value_nmin }}"
                                                                             onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">см.
                </p>
                <p><span>Выберите марку стали: </span>
                    <select id="combo_box" name="stal">
                        {% for stal in stal_list %}
                            {% if stal == value_stal %}
                                <option selected>{{ stal }}</option>
                            {% else %}
                                <option>{{ stal }}</option>
                            {% endif %}
                        {% endfor %}
                    </select></p>
                <p><span>Выберите класс точности болтов: </span>
                    <select id="combo_box" name="class">
                        {% for class in class_list %}
                            {% if class == value_class %}
                                <option selected>{{ class }}</option>
                            {% else %}
                                <option>{{ class }}</option>
                            {% endif %}
                        {% endfor %}
                    </select></p>
                <p><span>Выберите класс прочности болтов: </span>
                    <select id="combo_box" name="bolts">
                        {% for bolts in bolts_list %}
                            {% if bolts == value_bolts %}
                                <option selected>{{ bolts }}</option>
                            {% else %}
                                <option>{{ bolts }}</option>
                            {% endif %}
                        {% endfor %}
                    </select></p>
                <p><span>Выберите диаметр болтов: </span>
                    <select id="combo_box" name="diam">
                        {% for diam in diam_list %}
                            {% if diam == value_diam %}
                                <option selected>{{ diam }}</option>
                            {% else %}
                                <option>{{ diam }}</option>
                            {% endif %}
                        {% endfor %}
                    </select></p>
                <p><span>Выберите количество примыкающих плоскостей: </span>
                    <select id="combo_box" name="ns">
                        {% for number in number_list %}
                            {% if number == value_ns %}
                                <option selected>{{ number }}</option>
                            {% else %}
                                <option>{{ number }}</option>
                            {% endif %}
                        {% endfor %}
                    </select></p>

                <p><span>Выберите количество болтов (шт.)</span>
                    <select id="combo_box" name="number">
                        {% for number in numbers_list %}
                            {% if number == value_number %}
                                <option selected>{{ number }}</option>
                            {% else %}
                                <option>{{ number }}</option>
                            {% endif %}
                        {% endfor %}
                    </select></p>
                <p><span>Введите растояние L: </span><input name="width" id="text_box" type="text" class="text-box"
                                                            value="{{ value_width }}"
                                                            onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">см.
                </p>
                <p><span>Введите растояние а:</span><input name="length" id="text_box" type="text" class="text-box"
                                                           value="{{ value_length }}"
                                                           onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">см.
                </p>
                <p>
                    <button type="submit" id="button" class="button">Расчитать</button>
                </p>
            </form>
        </div>
        <div class="calculation">
            <div class="result">
                <p>Количество болтов:
                    <strong>{{ result_number }}</strong>шт.</p>
                <p>Расчетные сопротивления:</p>
                <p>Ns: <strong>{{ result_nbs }}</strong>, Nbp: <strong>{{ result_nbp }}</strong></p>
                <p>Nb: <strong>{{ result_nb }}</strong></p>
            </div>
        </div>
    </div>
    {% include 'top_calc.html' %}
    </div>
    <script>
        $('.menu-bar > li:eq(2)').addClass('current');
    </script>
{% endblock %}