{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
    <div class="tab-name"><img src="{% static 'images/calc.png' %}"><span>Онлайн калькулятор узлов</span></div>
    <div class="middle">
        <div class="prev-calc">
            <img src="{% static 'calc_img/bolts_number/twoimg.png' %}" class="image">
            <p class="caption">Расчет болтового соединения через фасонку</p>
            <p class="text">Краткое описание возможеостей данного калькулятора</p>
            <div class="full-button"><a href="{% url 'bolts_number' %}"><img src="{% static 'images/right2.png' %}"
                                                      class="arrow"><span>Далее</span></a></div>
        </div>
        <div class="prev-calc">
            <img src="static/2.jpg" class="image">
            <p class="caption">Расчет сварного соединения через фасонку</p>
            <p class="text">Краткое описание возможеостей данного калькулятора</p>
            <div class="full-button"><a href="{% url 'welding_fas' %}"><img src="{% static 'images/right2.png' %}"
                                                      class="arrow"><span>Далее</span></a></div>
        </div>
        <div class="prev-calc">
            <img src="static/3.jpg" class="image">
            <p class="caption">Расчет сварного соединения через столик</p>
            <p class="text">Краткое описание возможеостей данного калькулятора</p>
            <div class="full-button"><a href="{% url 'welding_table' %}"><img src="{% static 'images/right2.png' %}"
                                                      class="arrow"><span>Далее</span></a></div>
        </div>
        <div class="prev-calc">
            <img src="static/4.jpg" class="image">
            <p class="caption">Расчет рамного соединения</p>
            <p class="text">Краткое описание возможеостей данного калькулятора, но если человек увлекся и не сооблюдал
                длину описания, что будет, повалится ли все или норм</p>
            <div class="full-button"><a href="{% url 'welding_frame' %}"><img src="{% static 'images/right2.png' %}"
                                                      class="arrow"><span>Далее</span></a></div>
        </div>
        <div class="prev-calc">
            <img src="static/1.jpg" class="image">
            <p class="caption">Расчет сварного двутавра some</p>
            <p class="text">Краткое описание возможеостей данного калькулятора</p>
            <div class="full-button"><a href="{% url 'beam' %}"><img src="{% static 'images/right2.png' %}"
                                                      class="arrow"><span>Далее</span></a></div>
        </div>
        <div class="prev-calc">
            <img src="static/2.jpg" class="image">
            <p class="caption">Построение линии реза пересечения труб</p>
            <p class="text">Краткое описание возможеостей данного калькулятора</p>
            <div class="full-button"><a href="{% url 'sweep_pipe' %}"><img src="{% static 'images/right2.png' %}"
                                                      class="arrow"><span>Далее</span></a></div>
        </div>
        <div class="pages">
            <p>Страницы: </p>
            <div class="prev"><a href="">Пр.</a></div>
            <div><a href="">1</a></div>
            <div><a href="">2</a></div>
            <div class="next"><a href="">Сл.</a></div>
        </div>
    </div>
    <div class="right-bar">
        <p class="right-name">Виды расчетов</p>
        <ul class="right-top">
            <li><a href="{% url 'bolts_number' %}">Расчет болтового соединения через фасонку</a></li>
            <li><a href="{% url 'welding_fas' %}">Расчет сварного соединения через фасонку</a></li>
            <li><a href="{% url 'welding_table' %}">Расчет сварного соединения через столик</a></li>
            <li><a href="{% url 'welding_frame' %}">Расчет рамного соединения</a></li>
            <li><a href="{% url 'beam' %}">Расчет сварного двутавра</a></li>
            <li><a href="{% url 'sweep_pipe' %}">Построение линии реза пересечения труб</a></li>
        </ul>
    </div>
    <div class="back"><a href="#"><img src="{% static 'images/bolt.png' %}" width="50px" height="50px"></a></div>
     <script>
        $('.menu-bar > li:eq(2)').addClass('current');
    </script>
{% endblock %}