{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
    <div class="tab-name"><img src="{% static "images/contact.png" %}"><span>Контакты</span></div>
    <div class="contact-image">
        <img src="{% static "images/crash2.png" %}" width="300px" height="300px">
    </div>
    <div class="contact">
        <p>Данный сайт разработан в качестве практики при изучении программирования и ускорения подсчетов на моей
            текущей работе. Если у вас появились жалобы по поводу работу модулей, либо идеи по улучьшению этого веб
            ресурса, я открыт к общению. Прошу присылайте свои сообщения в какой либо из социальных сетей по адресам
            указаным ниже.</p>
        <p>Огромное спасибо что пользуетесь данным ресурсом</p>
    </div>
    <script>
        $('.menu-bar > li:eq(3)').addClass('current');
    </script>
{% endblock %}