{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
    <div class="tab-name"><img src="{% static "images/forum.png" %}"><span>Форум</span></div>
    <div class="middle">
        <p class="show-hide"><a href="#">Написать сообщение</a></p>
        <div class="message form">
            <form method="post">
                <textarea name="message" class="message-text" placeholder="Текст сообщения"></textarea>
                <input type="text" name="theme" class="theme-text" placeholder="Название темы">
                <button type="button" name="send-message" class="button">Отправить сообщение</button>
            </form>
        </div>
        <div class="message">
            <p class="author">Автор сообщения <span>//дата публикации</span></p>
            <p class="text">Текст сообщения, чуть-чуть подлинее, чтоб было видно как ведет себя очень длинный текст,
                который не помещается в одну строку</p>
            <p class="theme"><a href="#">Тема сообщения, для возможной сортировки и поиска</a></p>
        </div>
        <p class="show-hide"><a href="#">Написать комментарии</a></p>
        <div class="message comment form">
            <form method="post">
                <textarea name="message" class="message-text" placeholder="Текст сообщения"></textarea>
                <input type="text" name="theme" class="theme-text" placeholder="Название темы">
                <button type="button" name="send-message" class="button">Отправить сообщение</button>
            </form>
        </div>
        <p class="show-hide"><a href="#">Показать комментарии</a></p>
        <div class="message comment">
            <p class="author">Автор сообщения <span>//дата публикации</span></p>
            <p class="text">Тект комментария, можно не очень длинный</p>
            <p class="theme"><a href="#">Тема сообщения, для возможной сортировки и поиска и если они не помещается в
                одну строку то должно перенестись нормально</a></p>
        </div>
        <p class="show-hide"><a href="#">Написать комментарии</a></p>
        <div class="message comment-to-comment form">
            <form method="post">
                <textarea name="message" class="message-text" placeholder="Текст сообщения"></textarea>
                <input type="text" name="theme" class="theme-text" placeholder="Название темы">
                <button type="button" name="send-message" class="button">Отправить сообщение</button>
            </form>
        </div>
        <div class="message comment-to-comment">
            <p class="author">Автор сообщения <span>//дата публикации</span></p>
            <p class="text">Тект комментария к комментарию, наверно подлинее для лучьшего тестирования поведения
                модели</p>
            <p class="theme"><a href="#">Тема сообщения, для возможной сортировки и поиска</a></p>
        </div>
        <div class="message">
            <p class="author">Автор сообщения <span>//дата публикации</span></p>
            <p class="text">Текст сообщения, чуть-чуть подлинее, чтоб было видно как ведет себя очень длинный текст,
                который не помещается в одну строку</p>
            <p class="theme"><a href="#">Тема сообщения, для возможной сортировки и поиска</a></p>
        </div>
        <p class="show-hide"><a href="#">Показать комментарии</a></p>
        <div class="message comment">
            <p class="author">Автор сообщения <span>//дата публикации</span></p>
            <p class="text">Тект комментария, можно не очень длинный</p>
            <p class="theme"><a href="#">Тема сообщения, для возможной сортировки и поиска и если они не помещается в
                одну строку то должно перенестись нормально</a></p>
        </div>
        <div class="message comment-to-comment">
            <p class="author">Автор сообщения <span>//дата публикации</span></p>
            <p class="text">Тект комментария к комментарию, наверно подлинее для лучьшего тестирования поведения
                модели</p>
            <p class="theme"><a href="#">Тема сообщения, для возможной сортировки и поиска</a></p>
        </div>
        <div class="message">
            <p class="author">Автор сообщения <span>//дата публикации</span></p>
            <p class="text">Текст сообщения, чуть-чуть подлинее, чтоб было видно как ведет себя очень длинный текст,
                который не помещается в одну строку</p>
            <p class="theme"><a href="#">Тема сообщения, для возможной сортировки и поиска</a></p>
        </div>
        <p class="show-hide"><a href="#">Показать комментарии</a></p>
        <div class="message comment">
            <p class="author">Автор сообщения <span>//дата публикации</span></p>
            <p class="text">Тект комментария, можно не очень длинный</p>
            <p class="theme"><a href="#">Тема сообщения, для возможной сортировки и поиска и если они не помещается в
                одну строку то должно перенестись нормально</a></p>
        </div>
        <div class="message comment-to-comment">
            <p class="author">Автор сообщения <span>//дата публикации</span></p>
            <p class="text">Тект комментария к комментарию, наверно подлинее для лучьшего тестирования поведения
                модели</p>
            <p class="theme"><a href="#">Тема сообщения, для возможной сортировки и поиска</a></p>
        </div>
        <div class="pages">
            <p>Страницы: </p>
            <div class="prev"><a href="">Пр.</a></div>
            <div><a href="">1</a></div>
            <div><a href="">2</a></div>
            <div class="next"><a href="">Сл.</a></div>
        </div>
    </div>
    {% include 'top_theme.html' %}
    <div class="back"><a href="#"><img src="{% static 'images/bolt.png' %}" width="50px" height="50px"></a></div>
     <script>
        $('.menu-bar li:eq(1)').addClass('current');
    </script>
{% endblock %}