{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<div class="wrapper"></div>
<div class="header" id="header">
    <div class="logotype"><a href="{% url 'main' %}">Builder's assistant</a></div>
    <div class="buttons">
        <button type="button" class="button in">Войти</button>
        <button type="button" class="button out">Выйти</button>
        <button type="button" class="button reg">Зарегестрироватся</button>
    </div>
    <div class="hello">Добро пожаловать: <strong>Гость</strong></div>
    <ul class="social">
        <li><a href="#" class="facebook"><img src="{% static "images/facebook.png" %}" width="25" height="25"></a></li>
        <li><a href="#" class="linkedin"><img src="{% static "images/linkedin.png" %}" width="25" height="25"></a></li>
        <li><a href="#" class="google"><img src="{% static "images/google_plus.png" %}" width="25" height="25"></a></li>
        <li><a href="#" class="twitter"><img src="{% static "images/twitter.png" %}" width="25" height="25"></a></li>
    </ul>
</div>
<div class="content">
    <ul class="menu-bar">
        <li><a href="{% url "main" %}">Главная</a></li>
        <li><a href="{% url "forum" %}">Форум</a></li>
        <li id="active-bar"><a href="{% url "calculator" %}">Калькулятор</a>
            <ul class="sub-menu-bar">
                <li><a href="{% url 'bolts_number' %}">Расчет болтового соединения через фасонку</a></li>
                <li><a href="{% url 'welding_fas' %}">Расчет сварного соединения через фасонку</a></li>
                <li><a href="{% url 'welding_table' %}">Расчет сварного соединения через столик</a></li>
                <li><a href="{% url 'welding_frame' %}">Расчет рамного соединения</a></li>
                <li><a href="{% url 'beam' %}">Расчет сварного двутавра</a></li>
                <li><a href="{% url 'sweep_pipe' %}">Построение линии реза пересечения труб</a></li>
            </ul>
        </li>
        <li><a href="{% url "contacts" %}">Контакты</a></li>
    </ul>
    <form method="POST" class="authorization">
        <p class="name">Форма для входа</p>
        <p>Логин: </p>
        <input type="login" name="login" class="text-line">
        <p>Пароль: </p>
        <input type="password" name="password" class="text-line">
        <button type="submit" name="authorization" class="button">Войти</button>
    </form>
    <form method="POST" class="registration">
        <p class="name">Форма для регистрации</p>
        <p>Логин: </p>
        <input type="login" name="login" class="text-line">
        <p>Пароль: </p>
        <input type="password" name="password" class="text-line">
        <p>Повторите пароль: </p>
        <input type="password" name="repeat" class="text-line">
        <button type="submit" name="registration" class="button">Зарегестрироватся</button>
    </form>
    <div class="content-block">
        {% block content %}
        {% endblock content %}
    </div>
</div>
<div class="footer">
    <div class="logotype"><a href="#">Builder's assistant</a></div>
    <div class="contacts">
        <p>Skype: <a href="#">georgiy1104</a></p>
        <p>Mail: <a href="gosha1104@gmail.com">gosha1104@gmail.com</a></p>
        <p>GitHub: <a href="https://github.com/GeorgiyII">https://github.com/GeorgiyII</a></p>
    </div>
</div>
<script>
    // Функция правильного расположения статей
    $(document).ready(function () {
        $('.prev-articles:even').addClass('first');
    });
    //Появление форм при нажатии на кнопки
    $('.in').click(function () {
        if ($('.authorization').is(':hidden')) {
            $('.authorization').show('normal');
            $('.wrapper').show('fast');
        }
        else {
            $('.authorization').hide('fast');
        }
    });
    $('.wrapper').click(function () {
        $('.wrapper').hide('fast');
        $('.authorization').hide('fast');
    });
    $('.reg').click(function () {
        if ($('.registration').is(':hidden')) {
            $('.registration').show('fast');
            $('.wrapper').show('fast');
        }
        else {
            $('.registration').hide('fast');
        }
    });
    $('.wrapper').click(function () {
        $('.wrapper').hide('fast');
        $('.registration').hide('fast');
    });
    // Функции появления выпадающего меню и скрытии его
    $('#active-bar').mouseenter(function () {
        $('.sub-menu-bar').slideDown('normal');
        $('#active-bar').css('background-color', '#5e6066');
    });
    $('.sub-menu-bar').mouseleave(function () {
        $('.sub-menu-bar').slideUp('normal');
        $('#active-bar').css('background-color', '');
        });
    // Функция делает анимацию для кнопок далее
    $('.full-button').mouseenter(function () {
        $('.arrow').css('margin-right', '0');
    });
    $('.full-button').mouseleave(function () {
        $('.arrow').css('margin-right', '5px');
    });
    // Функция для появления кнопки на начало сайта при скроле вниз и исчезании ее в начале сайта
    window.onscroll = function () {
        var pageY = window.pageYOffset || document.documentElement.scrollTop;
        var innerHeight = document.documentElement.clientHeight;
        if (pageY > innerHeight) {
            $('.back').show('fast');
        }
        ;
        if (pageY < innerHeight) {
            $('.back').hide('fast');
        }
        ;
    };
</script>
</body>
</html>