{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
    <div class="tab-name"><img src="{% static "images/home.png" %}"><span>Главная страница</span></div>
    <div class="content-wrapper">
        <div class="middle">
            {% for article in object_list %}
                <div class="prev-articles">
                    <img src="{{ article.article_image.url }}" class="image">
                    <p class="caption">{{ article.article_capture }}</p>
                    <p class="author">{{ article.article_author }} //{{ article.article_date }}</p>
                    <p class="text">{{ article.article_short }}</p>
                    <div class="full-button"><a href="{% url "news" article.id %}"><img
                            src="{% static "images/right2.png" %}"
                            class="arrow"><span>Далее</span></a></div>
                </div>
            {% endfor %}
            <div class="pages">
                <p>Страницы: </p>
                <div class="prev"><a href="">Пр.</a></div>
                <div><a href="">1</a></div>
                <div><a href="">2</a></div>
                <div class="next"><a href="">Сл.</a></div>
            </div>
            <div class="back"><a href="#header"><img src="{% static "images/bolt.png" %}"></a></div>
        </div>
        {% include 'top_news.html' %}
    </div>
    <script>
        $('.menu-bar li:eq(0)').addClass('current');
    </script>
{% endblock %}