{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
    <div class="tab-name"><img src="{% static "images/home.png" %}"><span>Главная страница</span></div>
    <div class="middle">
        <div class="full-article">
            <img src="static/1.jpg" class="image">
            <p class="caption">Очень большой и очень длинный заголовок, который может не поместится </p>
            <p class="author">Автор статьи и дата публикации</p>
            <p class="text">Цветовая палитра №3546
                В палитре легкие светлые тона прекрасно сочетаются с насыщенными и глубокими: бархатисто-фиолетовый и
                небесно-голубой, аметист и розовый кварц, сирень и крокус. Эти цвета таинственны, очаровательны и
                помогут женщине создать образ Прекрасной Незнакомки в изысканном вечернем платье. Фиалковые тени сделают
                взгляд игривым, а розовые аксессуары добавят образу беззаботности. Цветовая палитра №3546
                В палитре легкие светлые тона прекрасно сочетаются с насыщенными и глубокими: бархатисто-фиолетовый и
                небесно-голубой, аметист и розовый кварц, сирень и крокус. Эти цвета таинственны, очаровательны и
                помогут женщине создать образ Прекрасной Незнакомки в изысканном вечернем платье. Фиалковые тени сделают
                взгляд игривым, а розовые аксессуары добавят образу беззаботности. Цветовая палитра №3546
                В палитре легкие светлые тона прекрасно сочетаются с насыщенными и глубокими: бархатисто-фиолетовый и
                небесно-голубой, аметист и розовый кварц, сирень и крокус. Эти цвета таинственны, очаровательны и
                помогут женщине создать образ Прекрасной Незнакомки в изысканном вечернем платье. Фиалковые тени сделают
                взгляд игривым, а розовые аксессуары добавят образу беззаботности. Цветовая палитра №3546
                В палитре легкие светлые тона прекрасно сочетаются с насыщенными и глубокими: бархатисто-фиолетовый и
                небесно-голубой, аметист и розовый кварц, сирень и крокус. Эти цвета таинственны, очаровательны и
                помогут женщине создать образ Прекрасной Незнакомки в изысканном вечернем платье. Фиалковые тени сделают
                взгляд игривым, а розовые аксессуары добавят образу беззаботности.</p>
        </div>
    </div>
    {% include 'top_news.html' %}
    <div class="back"><a href="#header"><img src="{% static "images/bolt.png" %}"></a></div>
{% endblock %}