{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
    <div class="tab-name"><img src="{% static "images/home.png" %}"><span>Главная страница</span></div>
    <div class="middle">
        <div class="full-article">
            <img src="{{ object.article_image.url }}" class="image">
            <p class="caption">{{ object.article_capture }}</p>
            <p class="author">{{ object.article_author }} // {{ object.article_date }}</p>
            <p class="text">{{ object.article_text }}</p>
        </div>
    </div>
    {% include 'top_news.html' %}
    <div class="back"><a href="#header"><img src="{% static "images/bolt.png" %}"></a></div>
    <script>
        $('.menu-bar li:eq(0)').addClass('current');
    </script>
{% endblock %}