{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
    <div class="tab-name"><img src="{% static 'images/pipe.png' %}"><span>Онлайн калькулятор узлов</span></div>
    <div class="middle">
        <div class="description">
            <p class="caption">Построение линии реза пересечения труб</p>
            <p class="text">Данная программа позволяет расчитать и построить линии реза (развертки) пересечения труб
                с плоскостями и другими трубами под разными углами.</p>
            <img src="{% static 'calc_img/sweep_pipe/img1.png' %}" class="image">
            <img src="{% static 'calc_img/sweep_pipe/img2.png' %}" class="image">
            <img src="{% static 'calc_img/sweep_pipe/img3.png' %}" class="image">
        </div>
        <div class="calculation">
            <form method="post" action="">
                <p><span>Диаметр трубы (d):</span><input name="diameter" id="text_box" type="text" class="text-box"
                                                         value="{{ value_diameter }}"
                                                         onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">мм.
                </p>
                <p><span>Толщина стенки (t):</span><input name="thickness" id="text_box" type="text"
                                                          class="text-box" value="{{ value_thickness }}"
                                                          onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">мм.
                </p>
                <p><span>Угол пересечения (B):</span><input name="angle" id="text_box" type="text" class="text-box"
                                                            value="{{ value_angle }}"
                                                            onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">градусов
                </p>
                <p>
                    <button type="submit" class="button" id="button">Расчитать</button>
                </p>
            </form>
        </div>
        <div class="calculation result1">
            <div class="coordinates">
                <p>Result: </p>
            </div>
            <div id="curve_chart"></div>
        </div>
        <div class="calculation">
            <form method="post" action="">
                <p><span>Диаметр трубы (d):</span><input name="diameter" id="text_box" type="text" class="text-box"
                                                         value="{{ value_diameter }}"
                                                         onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">мм.
                </p>
                <p><span>Толщина стенки (t, мм.):</span><input name="thickness" id="text_box" type="text"
                                                               class="text-box" value="{{ value_thickness }}"
                                                               onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">мм.
                </p>
                <p><span>Угол пересечения (B):</span><input name="angle" id="text_box" type="text" class="text-box"
                                                            value="{{ value_angle }}"
                                                            onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">градусов
                </p>
                <p>
                    <button type="submit" class="button" id="button">Расчитать</button>
                </p>
            </form>
        </div>
        <div class="calculation result2">
            <div class="coordinates">
                <p>Result: </p>
            </div>
            <div id="curve_chart"></div>
        </div>
        <div class="calculation">
            <form method="post" action="">
                <p><span>Диаметр трубы (d, мм.):</span><input name="diameter" id="text_box" type="text" class="text-box"
                                                              value="{{ value_diameter }}"
                                                              onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">мм.
                </p>
                <p><span>Толщина стенки (t, мм.):</span><input name="thickness" id="text_box" type="text"
                                                               class="text-box" value="{{ value_thickness }}"
                                                               onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">мм.
                </p>
                <p><span>Угол пересечения (B):</span><input name="angle" id="text_box" type="text" class="text-box"
                                                            value="{{ value_angle }}"
                                                            onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">градусов
                </p>
                <p>
                    <button type="submit" class="button" id="button">Расчитать</button>
                </p>
            </form>
        </div>
        <div class="calculation result3">
            <div class="coordinates">
                <p>Result: </p>
            </div>
            <div id="curve_chart"></div>
        </div>
    </div>
    {% include 'top_calc.html' %}
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(drawBasic);

        function drawBasic() {
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'Растояние');
            data.addColumn('number', 'Линия реза');
            data.addRows([[100, 200], [200, 200]]);

            var options = {
                hAxis: {
                    title: 'Секторы диаметра'
                },
                vAxis: {
                    title: 'Координаты реза'
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
            chart.draw(data, options);
        };
        $('.menu-bar > li:eq(2)').addClass('current');
    </script>
{% endblock %}