<div class="right-bar">
    <p class="right-name">Темы форума</p>
    <ul class="right-top">
        <li><a href="#">Тема для быстрого поиска и сортировки а если будет длиннеее чем надо что будет</a></li>
        <li><a href="#">Тема для быстрого поиска и сортировки</a></li>
        <li><a href="#">Тема для быстрого поиска и сортировки</a></li>
        <li><a href="#">Тема для быстрого поиска и сортировки</a></li>
        <li><a href="#">Тема для быстрого поиска и сортировки</a></li>
        <li><a href="#">Тема для быстрого поиска и сортировки</a></li>
        <li><a href="#">Тема для быстрого поиска и сортировки</a></li>
        <li><a href="#">Тема для быстрого поиска и сортировки</a></li>
        <li><a href="#">Тема для быстрого поиска и сортировки</a></li>
        <li><a href="#">Тема для быстрого поиска и сортировки</a></li>
        <li><a href="#">Тема для быстрого поиска и сортировки</a></li>
    </ul>
</div>