<div class="right-bar">
    <p class="right-name">Самое популярное</p>
    <ul class="right-top">
        <li><a href="#">чтото из топа и немного длиннее чем остальное<span>Количество просмотров</span></a></li>
        <li><a href="#">чтото из топа <span>Количество просмотров</span></a></li>
        <li><a href="#">чтото из топа <span>Количество просмотров</span></a></li>
        <li><a href="#">чтото из топа <span>Количество просмотров</span></a></li>
        <li><a href="#">чтото из топа <span>Количество просмотров</span></a></li>
        <li><a href="#">чтото из топа <span>Количество просмотров</span></a></li>
        <li><a href="#">чтото из топа <span>Количество просмотров</span></a></li>
        <li><a href="#">чтото из топа <span>Количество просмотров</span></a></li>
        <li><a href="#">чтото из топа <span>Количество просмотров</span></a></li>
        <li><a href="#">чтото из топа <span>Количество просмотров</span></a></li>
        <li><a href="#">чтото из топа <span>Количество просмотров</span></a></li>
    </ul>
</div>