<div class="right-bar">
    <p class="right-name">Виды расчетов</p>
    <ul class="right-top">
        <li><a href="{% url 'bolts_number' %}">Расчет болтового соединения через фасонку</a></li>
        <li><a href="{% url 'welding_fas' %}">Расчет сварного соединения через фасонку</a></li>
        <li><a href="{% url 'welding_table' %}">Расчет сварного соединения через столик</a></li>
        <li><a href="{% url 'welding_frame' %}">Расчет рамного соединения</a></li>
        <li><a href="{% url 'beam' %}">Расчет сварного двутавра</a></li>
        <li><a href="{% url 'sweep_pipe' %}">Построение линии реза пересечения труб</a></li>
    </ul>
</div>