{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
    <div class="tab-name"><img src="{% static 'images/beam.png' %}"><span>Онлайн калькулятор узлов</span></div>
    <div class="middle">
        <div class="description">
            <p class="caption">Расчет характеристик сварного двутавра</p>
            <p class="text">Данная программа расчитывает вес погонного метра и момента инерции для сварного двутавра.</p>
            <img src="{% static 'calc_img/welding_bead/weld_beadimg.png' %}" class="image">
        </div>
        <div class="calculation">
            <img src="{% static 'images/weld_beadimg.png' %}" class="image">
            <form method="post" action="">
                <p class="beam-hst"><input name="height" id="text_box" type="text" value="{{ value_height }}"
                                           onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">см.</p>
                <p class="beam-tst"><input name="tst" id="text_box" type="text" value="{{ value_tst }}"
                                           onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">см.</p>
                <p class="beam-b"><input name="width" id="text_box" type="text" value="{{ value_width }}"
                                         onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">см.</p>
                <p class="beam-tp"><input name="tp" id="text_box" type="tp" value="{{ value_tp }}"
                                          onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">см.</p>
                <p>
                    <button type="submit" id="button" class="button">Расчитать</button>
                </p>
            </form>
        </div>
        <div class="calculation result">
            <div>
                <p>Ix={{ result_ix }} см4</p>
                <p>M={{ result_m }} кг/м</p>
            </div>
        </div>
    </div>
    {% include 'top_calc.html' %}
    <script>
        $('.menu-bar > li:eq(2)').addClass('current');
    </script>
{% endblock %}