{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
    <div class="tab-name"><img src="{% static 'images/weld3.png' %}"><span>Онлайн калькулятор узлов</span></div>
    <div class="middle">
        <div class="description">
            <p class="caption">Расчет сварного соединения через столик</p>
            <p class="text">Данная программа позволяет расчитать необходимые параметры сварного соединения
                через столик для обеспечения несущей способности соединения.</p>
            <img src="{% static 'calc_img/welding_table/table1img.png' %}" class="image">
            <img src="{% static 'calc_img/welding_table/table1img2.png' %}" class="image">
            <img src="{% static 'calc_img/welding_table/table2img.png' %}" class="image">
            <img src="{% static 'calc_img/welding_table/table2img2.png' %}" class="image">
        </div>
        <div class="calculation">
            <form method="post" action="">
                <p><span>Выберите единицы измерения для усилия: </span><input name="numeric" type="radio" class="radio"
                                                                              value="1" id="radio_style">Кн
                    <input name="numeric" type="radio" value="0" id="radio_style" class="radio" checked>Кгс</p>
                <p><span>Введите величину реакции опоры (R):</span><input name="force" id="text_box" class="text-box"
                                                                          type="text" value="{{ value_force }}"
                                                                          onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">
                </p>
                <p><span>Введите величину катета шва (h2):</span><input name="hweld" id="text_box" type="text"
                                                                            class="text-box" value="{{ value_hweld }}"
                                                                            onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">
                см.</p>
                <p><span>Введите длину сварного шва (L1):</span><input name="length" id="text_box" type="text"
                                                                           class="text-box" value="{{ value_length }}"
                                                                           onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">
                см.</p>
                <p>
                    <button type="submit" class="button" id="button">Расчитать</button>
                </p>
        </div>
        <div class="calculation">
            <div class="result">
                <p>Длина шва L2:{{ result_length }} см.</p>
                <p>Катет шва h1:{{ result_hweld }} см.</p>
            </div>
        </div>
    </div>

    {% include 'top_calc.html' %}

    <script>
        $('.menu-bar > li:eq(2)').addClass('current');
    </script>
{% endblock %}