{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
    <div class="tab-name"><img src="{% static 'images/beam.png' %}"><span>Онлайн калькулятор узлов</span></div>
    <div class="middle">
        <div class="description">
            <p class="caption">Расчет болтового соединения через фасонку</p>
            <p class="text">Краткое описание возможеостей данного калькулятора</p>
            <img src="static/1.jpg" class="image">
            <img src="static/1.jpg" class="image">
        </div>
        <div class="calculation">
            <img src="{% static 'images/weld_beadimg.png' %}" class="image">
            <form method="post" action="">
                <p class="beam-hst"><input name="height" id="text_box" type="text" value="{{ value_height }}"
                                           onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">см.</p>
                <p class="beam-tst"><input name="tst" id="text_box" type="text" value="{{ value_tst }}"
                                           onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">см.</p>
                <p class="beam-b"><input name="width" id="text_box" type="text" value="{{ value_width }}"
                                         onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">см.</p>
                <p class="beam-tp"><input name="tp" id="text_box" type="tp" value="{{ value_tp }}"
                                          onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">см.</p>
                <p>
                    <button type="submit" id="button" class="button">Расчитать</button>
                </p>
                <p>Ix={{ result_ix }} см4</p>
                <p>M={{ result_m }} кг/м</p>
            </form>
        </div>
    </div>
    {% include 'top_calc.html' %}
    <script>
        $('.menu-bar > li:eq(2)').addClass('current');
    </script>
{% endblock %}