{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
    <div class="tab-name"><img src="{% static 'images/weld4.png' %}"><span>Онлайн калькулятор узлов</span></div>
    <div class="middle">
        <div class="description">
            <p class="caption">Расчет сварного рамного соединения</p>
            <p class="text">Данная программа позволяет определить необходимые параметры накладок для обеспечения
            несущей способности соединения.</p>
            <img src="{% static 'calc_img/welding_frame/frame1img.png' %}" class="image">
            <img src="{% static 'calc_img/welding_frame/frame2img.png' %}" class="image">
        </div>
        <div class="calculation">
            <form method="post" action="">
                {% csrf_token %}
                <p><span>Выберите единицы измерения для усилия: </span><input name="numeric" type="radio" value="1"
                                                                              class="radio" id="radio_style">Кн
                    <input name="numeric" type="radio" value="0" id="radio_style" class="radio" checked>Кгс</p>
                <p><span>Введите величину реакции опоры (R):</span><input name="force" id="text_box" type="text"
                                                                          class="text-box" value="{{ value_force }}"
                                                                          onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">
                </p>
                <p><span>Введите величину момента действующего на узел:</span><input name="moment" id="text_box"
                                                                                            class="text-box" type="text"
                                                                                            value="{{ value_moment }}"
                                                                                            onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">
                M*см</p>
                <p><span>Введите величину катета шва (hш):</span><input name="katet" id="text_box" type="text"
                                                                            class="text-box" value="{{ value_katet }}"
                                                                            onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">
                см.</p>
                <p><span>Введите высоту балки (H):</span><input name="height" id="text_box" type="text"
                                                                    class="text-box" value="{{ value_height }}"
                                                                    onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">
                см.</p>
                <p><span>Введите толщину накладки (t):</span><input name="thickness" id="text_box" type="text"
                                                                        class="text-box" value="{{ value_thickness }}"
                                                                        onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">
                см.</p>
                <p>
                    <button type="submit" class="button" id="button">Расчитать</button>
                </p>
            </form>
        </div>
        <div class="calculation result">
            <div>
                <p>Ширина накладки (B): <strong>{{ result_width }}</strong> cм.</p>
                <p>Длина накладки (L): <strong>{{ result_length }}</strong> см.</p>
            </div>
        </div>
    </div>
    {% include 'top_calc.html' %}
    <script>
        $('.menu-bar > li:eq(2)').addClass('current');
    </script>
{% endblock %}