{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
    <div class="tab-name"><img src="{% static 'images/weld1.png' %}"><span>Онлайн калькулятор узлов</span></div>
    <div class="middle">
        <div class="description">
            <p class="caption">Расчет сварного соединения через фасонку</p>
            <p class="text">Данная программа позволяет подобрать параметры сварного шва для обеспечения
                несущей способности соединения.</p>
            <img src="{% static 'calc_img/welding_fas/fas1img.png' %}" class="image">
            <img src="{% static 'calc_img/welding_fas/fas1img 2.png' %}" class="image">
            <img src="{% static 'calc_img/welding_fas/fas2img.png' %}" class="image">
            <img src="{% static 'calc_img/welding_fas/fas2img 2.png' %}" class="image">
            <img src="{% static 'calc_img/welding_fas/fas3img.png' %}" class="image">
            <img src="{% static 'calc_img/welding_fas/fas3img 2.png' %}" class="image">
            <img src="{% static 'calc_img/welding_fas/fas4img.png' %}" class="image">
        </div>
        <div class="calculation">
            <form method="post" action="">
                {% csrf_token %}
                <p><span>Выберите единицы измерения для усилия: </span><input name="numeric" type="radio" value="1"
                                                                              class="radio" id="radio_style">Кн
                    <input name="numeric" type="radio" value="0" id="radio_style" class="radio" checked>Кгс</p>
                <p><span>Введите реакцию опоры (R):</span><input name="force" id="text_box" type="text" class="text-box"
                                                                 value="{{ value_force }}"
                                                                 onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">
                </p>
                <p><span>Введите продольное усилие (N):</span><input name="nforce" id="text_box" type="text"
                                                                     class="text-box" value="{{ value_nforce }}"
                                                                     onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">
                </p>
                <p><span>Введите размер катета шва:</span><input name="kw" id="text_box" type="text" class="text-box"
                                                                 value="{{ value_katet }}"
                                                                 onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">см.
                </p>
                <p><span>Введите длину сварного шва (Lшв):</span><input name="lw" id="text_box" type="text"
                                                                        class="text-box" value="{{ value_length }}"
                                                                        onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">см.
                </p>
                <p><span>Введите величину плеча силы (L):</span><input name="width" id="text_box" type="text"
                                                                       class="text-box" value="{{ value_width }}"
                                                                       onkeyup="this.value=this.value.replace(/[^\d.]/ig, '')">см.
                </p>
                <p><span>Выберите ти шва: </span>
                    <select id="combo_box" name="place">
                        {% for place in place_list %}
                            {% if place == value_place %}
                                <option selected>{{ place }}</option>
                            {% else %}
                                <option>{{ place }}</option>
                            {% endif %}
                        {% endfor %}
                    </select></p>
                <p><span>Выберите есть ли ответная планка: </span>
                    <select id="combo_box" name="plank">
                        {% for number in list_number %}
                            {% if number == value_number %}
                                <option selected>{{ number }}</option>
                            {% else %}
                                <option>{{ number }}</option>
                            {% endif %}
                        {% endfor %}
                    </select></p>
                <p>
                    <button type="submit" id="button" class="button">Расчитать</button>
                </p>
            </form>
        </div>
        <div class="calculation result">
            <div>
                <p>Несущая способность шва:</p>
                <p> <strong>{{ result }} <= {{ constant }}</strong></p>
            </div>
        </div>
    </div>
    {% include 'top_calc.html' %}
    <script>
        $('.menu-bar > li:eq(2)').addClass('current');
    </script>
{% endblock %}